@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&family=Oswald:wght@700&display=swap');

$font-1:'Nova Round',cursive;
$font-2:'Dosis', cursive;
$font-3:'osefin Sans',cursive;
$color-1:#2a1d52;
$color-2: #55034d;
$color-3: rgb(99,164,233);
$color-4: linear-gradient(90deg, rgba(170, 54, 124, 1) 0%, rgba(74, 47, 189, 1) 100%);;
$color-5: #aa367c;

$black:#333;
$white:#ddd;


$borderRadius:25px;
$shadow: 0 1px 3px #333;
$minHeight:95vh;


@mixin verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;

}



